.flights-index-header {
    display: flex;
    justify-content: flex-end;
    background-color: dodgerblue;
    color: papayawhip;
    font-weight: bold;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 50px;
    margin-top: 5%;
}

.flights-index .pick-flights {
    display: flex;
    justify-content: flex-end;
    background-color: dodgerblue;
    color: papayawhip;
    padding: 25px 10px;
}

.flights-index .pick-flights form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 5px;
}

.flights-index .pick-flights form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.flights-index .pick-flights form .submit {
    display: flex;
    justify-content: center;
}

.flights-index .pick-flights form div select {
    width: 50%;
    border: 2px solid blue;
    background-color: lightskyblue;
    text-align: center;
}

.flights-index .pick-flights form input[type=submit] {
    width: 40%;
    border: 2px solid papayawhip;
    background-color: lightskyblue;
    color: papayawhip;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 15px;
}

.flights-index .pick-flights .date-picking .date-select {
    width: 50%;
}

.flights-index .pick-flights .date-picking select {
    width: 49%;
    border: 2px solid blue;
    background-color: lightskyblue;
    text-align: center;
}

.flights-index .flight-list {
    background-color: cornflowerblue ;
    color: papayawhip;
    padding: 25px 10px;
    display: flex;
    justify-content: flex-end;
}

.flight-list-header {
    display: flex;
    justify-content: flex-end;
    background-color: cornflowerblue;
    color: papayawhip;
    font-weight: bold;
    font-size: 36px;
    padding-top: 10px;
    padding-right: 50px;
    margin-top: 5%;
}

.flight-list .flights-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flight-list .reminder-date, .flight-list .reminder-tract {
    display: flex;
    justify-content: center;
}

.flight-list .reminder-date {
    font-size: 24px;
}

.flight-list .reminder-tract {
    font-size: 20px;
}

.flight-list form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
}

.flight-list .single-flight {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.flight-list form .submit {
    display: flex;
    justify-content: center;
}

.flight-list form input[type=submit] {
    width: 40%;
    border: 2px solid papayawhip;
    background-color: lightskyblue;
    color: papayawhip;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 15px;
}